div,ul,li{ margin: 0; padding: 0;}
li{ list-style:none;}

#box{ width: 100%; height: 660px; background: #ff0066; padding-top:40px;}
#box ul{ width: 90%; height: 540px; background: #ff23ff; margin:0 auto; box-shadow: 10px 10px 30px #f2f;}
#box ul li{ width: 20%; height: 200px; background: #00ff99; float: left; margin:2.5%; font-size: 4em;
    font-weight: bold; color: #fff; text-align: center; line-height: 200px; box-shadow:5px 10px 20px #2f9;
    text-shadow: 8px 5px 20px #fff; border-radius: 10px;}

@media (max-width: 1024px){
    #box{ height: 1250px;}
    #box ul{ height: 1150px;}
    #box ul li{ width: 40%; margin:5%;}
}
@media (max-width: 568px){
    #box{ height: 2200px;}
    #box ul{ height: 2100px;}
    #box ul li{ width: 90%; margin:30px 5%;}
}